@model IEnumerable<MvcFood.Models.FoodTable>

@{
    ViewData["Title"] = "Find your Food";
}

<h1>Find your Food</h1>
<p> <b> Please use the filter the food item you want to search (It will fetch from local db). 
     Use "Details" button to see the nutrion information, "Edit" button to rename the name of food and "Delete"" to delete from database.
     <br />
    Note: If you don't find the item, it is not in our database but you can always request for the food item use <u>'Request New Food Item'</u> button below.
    </b> 
    
  
    </p>
<p>
    <a asp-action="Create">Request New Food Item</a>
</p>
<form asp-controller="Foods" asp-action="Display" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.fdcId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.fdcId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.fdcId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
